<tbody>
    <% @order.line_items.take(4).each do |line_item| %>
        <%= render partial: 'spree/checkout/summary/line_item', locals: { line_item: line_item } %>
    <% end %>
</tbody>
<% extra_items = @order.line_items.drop(4) %>
<% if extra_items.any? %>
    <tbody class="more-line-items-activator">
        <tr><td colspan="2"><%= Spree.t(:and_x_more, count: extra_items.count) %></td></tr>
    </tbody>
    <tbody class="more-line-items">
        <% extra_items.each do |line_item| %>
            <%= render partial: 'spree/checkout/summary/line_item', locals: { line_item: line_item } %>
        <% end %>
    </tbody>
<% end %>
