<% address_id = address_type.chars.first %>
<div class="inner" data-hook=<%="#{address_type}_inner" %>>

  <%= render :partial => 'spree/checkout/address/manual_entry', :locals => {:form => form, :address_id => address_id, :address_type => address_type, :address => address} %>

  <%= render :partial => 'spree/checkout/address/country_selector', :locals => {:form => form, :address_id => address_id, :address_type => address_type, :address => address} %>

</div>
