<div class="row">
  <div class="col-sm-6 your-details" data-hook="billing_fieldset_wrapper">
    <h4>Your Details</h4>

       <div class="form-group has-feedback" id="email">
        <label for="order_email">Email</label>
        <br>
        <input disabled="true" class="form-control required email" id="order_email" name="order[email]" type="text">
        <span class="icon-ok form-control-feedback"></span>
        <span class="icon-cancel-1 form-control-feedback"></span>
      </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group has-feedback" id="firstname">
          <label for="order_firstname">First Name</label>
          <br>
          <input disabled="true" class="form-control required" id="order_firstname" name="order[firstname]" type="text">
          <span class="icon-ok form-control-feedback"></span>
          <span class="icon-cancel-1 form-control-feedback"></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group has-feedback" id="lastname">
          <label for="order_lastname">Last Name</label>
          <br>
          <input disabled="true" class="form-control required" id="order_lastname" name="order[lastname]" type="text">
          <span class="icon-ok form-control-feedback"></span>
          <span class="icon-cancel-1 form-control-feedback"></span>
        </div>
      </div>
    </div>
    <div class="form-group has-feedback" id="phone">
      <label for="order_phone">Phone</label>
      <br>
      <input disabled="true" class="form-control required" id="order_phone" name="order[phone]" type="tel">
      <span class="icon-ok form-control-feedback"></span>
      <span class="icon-cancel-1 form-control-feedback"></span>
    </div>
  </div>

  <div class="col-sm-6 address-details" data-hook="shipping_fieldset_wrapper">
    <div id="billing" data-hook="">
      <h4>Shipping to</h4>

<div class="inner" data-hook="billing_inner">


<div class="form-group has-feedback" id="baddress1">
  <label for="order_bill_address_attributes_address1">Address line 1</label>
  <br>
  <input disabled="true" class="form-control  required" id="order_bill_address_attributes_address1" name="order[bill_address_attributes][address1]" type="text">
  <span class="icon-ok form-control-feedback"></span>
  <span class="icon-cancel-1 form-control-feedback"></span>
</div>
<div class="form-group  has-feedback" id="baddress2">
  <label for="order_bill_address_attributes_address2">Address line 2</label>
  <br>
  <input disabled="true" class="form-control" id="order_bill_address_attributes_address2" name="order[bill_address_attributes][address2]" type="text">
  <span class="icon-ok form-control-feedback"></span>
  <span class="icon-cancel-1 form-control-feedback"></span>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group  has-feedback" id="bzipcode">
      <label>Zip / Postcode</label>
      <br>
      <input disabled="true" class="form-control required" id="order_bill_address_attributes_zipcode" name="order[bill_address_attributes][zipcode]" type="text">
      <span class="icon-ok form-control-feedback"></span>
      <span class="icon-cancel-1 form-control-feedback"></span>
    </div>
  </div>
  <div class="col-md-6 address-hidden">
    <div class="form-group  has-feedback" id="bcity">
      <label for="order_bill_address_attributes_city">City</label>
      <br>
      <input disabled="true" class="form-control required" id="order_bill_address_attributes_city" name="order[bill_address_attributes][city]" type="text">
      <span class="icon-ok form-control-feedback"></span>
      <span class="icon-cancel-1 form-control-feedback"></span>
    </div>
  </div>
</div>


  <!--   <div class="hidden address-hidden"> -->
<div class="form-group" id="bcountry">
  <label for="order_bill_address_attributes_country_id">Country</label>
  <br>
      <span id="bcountry-selection">
        <select class="form-control required" id="order_bill_address_attributes_country_id" name="order[bill_address_attributes][country_id]">
        <option>Country</option>
</select>
      </span>

</div>


</div>


    </div>
  </div>
</div>
