<div id="checkout" data-hook>
  <%= render :partial => 'wrapper', :locals => { :order => @order } %>
</div>

<script>
Spree.current_order_id = "<%= @order.number %>"
Spree.current_order_token = "<%= @order.token %>"
</script>

<% if I18n.locale != :en %>
  <script src='/assets/jquery.validate/localization/messages_<%= I18n.locale %>.js'></script>
<% end %>
