<div id="checkout" data-hook>
  <% ### Spree_smooth_checkout_specific ###
     # To enable AJAX transitions between the checkout pages
     # I've extracted the bulk of the checkout page into
     # the 'wrapper' partial.
     # On an AJAX request edit.js.erb is returned, containing
     # just the contents of the wrapper partial.
     # The HTML of the #checkout element is then replaced with
     # the response.
     %>
  <%= render :partial => 'wrapper', :locals => { :order => @order } %>
</div>

<script>
Spree.current_order_id = "<%= @order.number %>"
Spree.current_order_token = "<%= @order.token %>"
</script>

<% if I18n.locale != :en %>
  <script src='/assets/jquery.validate/localization/messages_<%= I18n.locale %>.js'></script>
<% end %>
