.form-control-feedback {
  display: none !important;
  }
.has-success .form-control-feedback.glyphicon-ok, .has-error .form-control-feedback.glyphicon-remove {
  display: block !important;
}
#lock-summary {
  border-left: 1px solid #c0c0c0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  background: #fff;
  height: 100vh;
  padding: 20px;
  margin-right: -15px;
  position: fixed;
  top: 0;
}
.wide-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#checkout-header {
  height: 100px;
  background: $brand-secondary;
  padding: 20px 0;
  margin-bottom: 20px;
}
.checkout-step-off {
  opacity: .2;
}
#logo img {
  width: 200px;
}
