.form-control-feedback {
  display: none !important;
  }
.has-success .form-control-feedback.glyphicon-ok, .has-error .form-control-feedback.glyphicon-remove {
  display: block !important;
  top: 31px;
}
#lock-summary {
  border-left: 1px solid #c0c0c0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  background: #fff;
  height: 100vh;
  padding: 20px;
  margin-right: -15px;
  position: fixed;
  top: 0;
}
.wide-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#checkout-header {
  height: 100px;
  background: $brand-primary;
  padding: 20px 0;
  margin-bottom: 20px;
}
#logo img {
  width: 200px;
}
.checkout-step {
  overflow: hidden;
  position: relative;
}
.checkout-step-off {
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    background: rgba(255,255,255,.85);
    z-index: 9;

    .info {
      margin: 40px auto 0 auto;
      width: 50%;
      background: #fff;
      border-radius: 5px;
      padding: 20px;
      border: 1px solid #c0c0c0;
    }
  }
}
.checkout-step-on {
  .cover {
    display: none;
  }
}
