<div id="spree-header">

  <header id="header" data-hook>
    <div class="container">
        <figure id="logo" class="col-md-4" data-hook>
          <%= logo %>
        </figure>

    </div>
  </header>
  <div class="container">

  </div>

</div>