<header id="header" data-hook>
  <div class="container-fluid">

    <div id="top-bar" class="clearfix checkout">
      <canvas id="bowhurst-curve" height="100" width="200"></canvas>
    </div>
    <span id="bowhurst-logo"></span>
</header>
